.normalSymbolImage {
  width: 15%;
  display: flex;
}

.symbol_100 {
  width: 80%;
  display: flex;
}

.symbol_1000000 {
  width: 77.5%;
  display: flex;
}

.manaCostRow {
  /* margin: auto; */
  display: flex;
  justify-content: flex-end;
}