.lifeNavigationButtons {
    text-align: center;
    /* position: absolute; */
    left: 0;
    right: 0;
    width: 100%;
    /* height: 100%; */
}

.nextButton{
    /* text */
    text-align: center;
    width: 25%;
    /* transform: translateX(295%);
    transform: translateY(50%); */
    transform: translate(295%,400%);
}

.optionTextField{
    /* outline-width: 2; */
    width: 100%;
    height: 50%;
    background-color: lightseagreen;
}

.optionTextButton{
    /* outline-width: 2; */
    width: 100%;
    height: 50%;
}

.optionButton{
    /* outline-width: 2; */
    width: 100%;
    height: 100%;
    font-size: xx-large;
}

.buttonCard {
    height: 75%;
    /* vertical-align: middle; */
    /* transform: translateY(25%); */
    transform: translateY(10%);
}
.buttonGrid {
    height: 50%;
    /* vertical-align: middle; */
}
.buttonRow{
    height: 25%;
}