.slide2Grid{
    width: 100%;
    height: 100%;
}
.slide2Button{
    width: 100%;
    height: 100%;
}
.slideImage-0{
    width: 50%;
    height: 50%;
}
.slideImage-90{
    width: 50%;
    height: 50%;
    transform: rotate(90deg);
}
.slideImage-180{
    width: 50%;
    height: 50%;
    transform: rotate(180deg);
}
.slideImage-270{
    width: 50%;
    height: 50%;
    transform: rotate(270deg);
}
/* Horizontal Settings */
.slide2RowHorizontal{
    width: 100%;
    height: 100%;
}
.slide2ColHorizontal{
    width: 100%;
    height: 100%;
}
/* Vertical Settings */
.slide2RowVertical{
    width: 100%;
    height: 20%;
}
.slide2ColVertical{
    width: 100%;
    height: 100%;
}


