.cardImage {
  max-width: 100%;
  height: auto;
  /* 
  min-width: 75%;
  max-width: 75%;
  transform: translateX(17.5%); 
  */
}

/* Without setting height the slides will take up the height of the slide's content */
ion-slides {
  width: 100% !important;
  height: auto;
  display: flex;
}

ion-slide {
  /* height: 100%; */
  /* min-height: 100%; */
  /* width: 100% !important; */
  display: flex;
}

ion-card {
  display: flex;
  flex-direction: column;
  text-align: left;
  /* min-width: 95% !important; */
  /* max-width: 95%; */
  /* margin: 2.5%; */
}

/*Eg. "Exists Foil Version"*/
.category-label {
  font-weight: bold;
  text-align: justify;
}

/*Eg. "Banned"*/
.category-value {
  text-align: left;
}


/* Class used for Single Page Slides. This fixes the swipe area issues */ 
.fullScreenCard {
  display: flex;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  min-width: 95% !important;
  max-width: 95%;
}