.slide2Grid{
    width: 100%;
    height: 100%;
}
.slide2Button{
    width: 100%;
    height: 100%;
}
/* Horizontal Settings */
.slide2RowHorizontal{
    width: 100%;
    height: 100%;
}
.slide2ColHorizontal{
    width: 16.67%;
    height: 100%;
}
/* Vertical Settings */
.slide2RowVertical{
    width: 100%;
    height: 16.67%;
}
.slide2ColVertical{
    width: 100%;
    height: 100%;
}

/* Sub screen grids*/
.subScreenGrid{
    width: 100%;
    height: 100%;
}
.subScreenRow{
    width: 100%;
    height: 50%;
}
.subScreenCol{
    width: 100%;
    height: 50%;
}